body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.appearance {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.appearance-buttons {
    display: flex; /* Mengatur tombol agar berdampingan */
    gap: 10px; /* Menambahkan jarak antar tombol */
    margin-top: 10px;
}

.appearance label, .appearance input[type="range"] {
    margin-bottom: 10px;
    display: inline-block;
}

.appearance button {
    background-color: white; 
    color: black; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s; 

}

.appearance button:active {
    background-color:#e0e0e0;
}

.appearance label, .appearance input[type="range"] {
    margin-bottom: 10px;
    display: inline-block;
}

.appearance {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}



.task-input button {
    padding: 5px;
    margin-left: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.container {
    text-align: center;
    width: 300px;
}

.task-input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.task-input input {
    width: 70%;
    padding: 5px;
}

.task-input button {
    padding: 5px;
    margin-left: 5px;
}

.appearance {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

